@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar{
  position: fixed;
  bottom: 0;
  right: 0;
  left:0;
  height: 80px;
  background-color: rgb(255, 75, 75);
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.navbar li{
  list-style-type: none;
  color: white;
  padding:0;
  margin:0;
}

.navbar a{
color: white;
text-decoration: none;
}

.navbar p {
  color: white;
  opacity: 1;
  font-size: 15px;
  width: 15px;
  height: 15px;
  display: none;
}


.icon{
  color: white;
  height: 30px;
}



.cards-main-container {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 80px;
}

@media screen and (min-width: 700px) {
  .cards-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
  }
  .card {
    flex: 1 0 40%;
    max-width: 45%;
  }
  .break {
    display: none;
  }

  .navbar {
    top: 0;
    margin-top: 0;
    justify-content: flex-end;
    z-index: 100;

  }
  body {
    padding-top: 80px;
  }

  .navbar .icon {
    display: none;
  }

  .navbar li{
    margin-right: 60px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .cards-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .card {
    flex: 1 0 40%;
    max-width: 45%;
  }
  .break {
    display: none;
  }
  .navbar {
    top: 0;
    margin-top: 0;
    justify-content: flex-end;
    z-index: 100;
  }
  .navbar ul {
    margin: 80px;
  }
  body {
    padding-top: 80px;
  }
  .navbar .icon {
    display: none;
  }
  .navbar li  p  {
    display: block;
}
.navbar li{
  margin-right: 20px;
}

}

@media (min-width: 1024px) {
  .cards-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
  }
  .card {
    flex: 1 0 30%;
    max-width: 30%;
  }
  .break {
    display: none;
  }
  .navbar {
    top: 0;
    margin-top: 0;
    justify-content: flex-end;
    z-index: 100;
  }
  body {
    padding-top: 80px;
  }
  .navbar .icon {
    display: none;
  }
  .navbar li  p  {
    display: block;
}
}